<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>resume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED3C30AD1D77807800BAED0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED3C30C11D77807900BAED0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED3C30CC1D77807900BAED0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
